<div id="content">
  {{outlet}}
</div>
<footer>
	<p>
		Ember TodoMVC by
		<a href="http://github.com/tomdale">Tom Dale</a> &amp;
		<a href="http://github.com/addyosmani">Addy Osmani</a>
  </p>
  <p>
    LocalStorage Adapter by
    <a href="http://github.com/rpflorence">Ryan Florence</a>
  </p>
  <p>
    Guard-Powered by
    <a href="http://github.com/brianpattison">Brian Pattison</a>
	</p>
</footer>